<%- include('partials/header') -%>
  <main class="container pb-5">
        <div class="row justify-content-center">
            <section class="col-10 md:col-6 mt-5">
                <form class="w-full max-w-lg mx-auto gap-4 justify-content-center" action="/edit/editProfile" enctype="multipart/form-data" method="POST">
                <h1 class="text-2xl font-bold pb-2">Edit your profile</h1>
                  <!-- change profile photo -->
                  <div class="col-span-2">
                  <div class="mb-3">
                    <img src="<%= user.profilePhoto %>" alt="" class="pb-2 w-24">
                    <label for="imgUpload" class="form-label">Change your profile photo</label><br>
                    <input type="file" class="file-input file-input-bordered file-input-xs md:w-5/6 max-w-xs" id="imageUpload" name="file"><br>
                  </div>
                  </div>
                <!-- username and email -->
                <div>
                  <div class="mb-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="userName" class="form-label">User Name</label>
                        <input type="text" class="input input-bordered input-primary w-full" id="userName" name="userName"placeholder="<%= user.userName%>">
                      </div>
                    <div class="mb-3">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="input input-bordered input-primary w-full" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="<%= user.email%>">
                    </div>
                  </div>
                  <!-- col 3 -->
                  <!-- <div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                      </div>
                    </div> -->
                    <!-- col 4 -->
                    <div class="mb-3 col-span-2 justify-self-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  </form>
            </section>
        </div>
  </main>
<%- include('partials/footer') -%>