<%- include('partials/header') -%>
<div class="hero min-h-screen" style="background-image: url(/images/street.jpg);">
    <div class="hero-overlay bg-opacity-20"></div>
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="card flex-shrink-0 w-full shadow-2xl bg-base-200">
            <div class="card-body">
              <form class="w-full max-w-lg" action="/profile/editProfile" enctype="multipart/form-data" method="POST">
                <div class="flex flex-wrap -mx-3 mb-1 justify-center">
                <h1 class="text-2xl font-bold pb-2">Edit your profile</h1>
                  <!-- change profile photo -->
                  <div class="w-full mb-3 lg:grid grid-cols-3">
                    <div class="">
                      <img src="<%= loggedInUser.profilePhoto %>" alt="" class="pb-2 w-36 mx-auto">
                    </div>
                    <div class="col-start-2 col-span-2 self-center">
                      <label for="imgUpload" class="form-label">Change your profile photo</label><br>
                      <input type="file" class="file-input file-input-sm md:file-input-md file-input-bordered" id="imageUpload" name="file"><br>
                    </div>
                    
                  </div>
                <!-- username and email -->
                  <div class="w-full mb-3">
                        <label for="userName" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">User Name</label>
                        <input type="text" class="input input-bordered input-primary w-full" id="userName" name="userName"placeholder="<%= loggedInUser.userName%>">
                      </div>
                    <div class="w-full mb-3">
                      <label for="exampleInputEmail1" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Email address</label>
                      <input type="email" class="input input-bordered input-primary w-full" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="<%= loggedInUser.email%>">
                    </div>
                  <!-- col 3 -->
                    <div class="w-full mb-3">
                      <label for="password" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Password</label>
                      <input type="password" class="input input-bordered input-primary w-full" id="password" name="password">
                    </div>
                    <div class="w-full mb-3">
                        <label for="confirmPassword" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Confirm Password</label>
                        <input type="password" class="input input-bordered input-primary w-full" id="confirmPassword" name="confirmPassword">
                    </div>
                    <!-- col 4 -->
                    <div class="w-full">
                    <button type="submit" class="btn btn-primary w-full">Submit</button>
                  </div>
                </div>
                  </form>
                  <!-- delete profile -->
                  <form class="w-full max-w-lg" action="/profile/deleteProfile" enctype="multipart/form-data" method="POST">
                    <div class="flex flex-wrap -mx-3 justify-center">
                        <div class="w-full">
                          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 text-orange-800">This will delete your profile and all corresponding reviews. This cannot be undone.</label>
                        <button type="submit" class="btn btn-error w-full">Delete account</button>
                      </div>
                    </div>
                      </form>
                  
</div>
</div>
</div>
</div>
</div>

<%- include('partials/footer') -%>


