<%- include('partials/header') -%>
<div class="m-4">

<% for(var i=0; i<property.length; i++) {%>
  <!-- review -->
<div class="lg:grid lg:grid-cols-3">
<div class="lg:col-span-1 lg:block lg:border-b-2 border-primary-focus max-w-xl mx-auto">
      <div class="p-2 my-2 md:my-4">
        <a href="/property/<%= property[i]._id%>"><img src="<%= property[i].images[0].url%>" class=" mx-auto w-4/5"></a>
      </div>
</div>
<div class="lg:col-span-2 border-b-2 border-primary-focus">
  <!-- outer review div-->
  <div class="px-2 py-1 my-2 md:px-8 md:py-4 md:my-4">
    <h3 class="text-xl 2xl:text-2xl font-bold pb-2"><a href="/property/<%= property[i]._id%>" class="black"><%= property[i].streetName%>, <%= property[i].postcode%></a></h3>
    
    <% for(var j=0; j<property[i].reviews.length; j++) {%>
      <% for(var l=0; l<reviews.length; l++) {%>
      <%if(reviews[l]._id == property[i].reviews[j]){ %>
      <h3>Review posted by <a href="/profile/<%= reviews[l].user.userName%>"><%= reviews[l].user.userName%></a></h3>
      <p><%= reviews[l].body.split(" ").slice(0,30).join(" ")%> ...</p><br>
    <!-- <p><%= reviews%></p> -->
    <% } %>
    <% } %>
    <% } %>
  </div>
</div>
</div>
<% } %>
</div>
<%- include('partials/footer') -%>