<%- include('partials/header') -%>
<div class="lg:grid lg:grid-cols-3 m-4">
<!-- heading -->
<div class="col-start-1 col-span-3">
<span class="text-3xl font-bold underline underline-offset-4 pb-2">Your reviews</span>
</div>
<% for(var i=0; i<review.length; i++) {%>
<!-- review image -->
<div class="lg:col-span-1 sm:grid sm:grid-cols-2 lg:block border-b-2 border-primary-focus">
      <div class=" p-2 my-4">
        <img src="<%= review[i].image%>">
      </div>
</div>
<div class="lg:col-span-2 border-b-2 border-primary-focus">
    <ul class="row list-unstyled">
        <!-- outer review div-->
        <div class=" px-8 py-4 my-4">
            <!-- address and tenancy dates-->
            <div class="pb-2"> 
              <h3 class="text-l font-bold pb-2">Review for <a href="/property/<%= review[i].propertyId%>"><%= review[i].streetName%>, <%= review[i].postcode%></a></h3>
                <% if(review[i].tenancyFrom && review[i].tenancyTo != "") {%>
                  <p>Tenancy from <%= review[i].tenancyFrom%> to <%= review[i].tenancyTo%></p>
                <% } %>
            </div>
            <!-- review title and body-->
            <div> 
              <h1 class="text-2xl font-bold pb-2"><%= review[i].title%></h1>
              <p class="pt-2"><%= review[i].body%></p>
            </div>
        </div>
    </ul>
</div>
<% } %>
</div>
<%- include('partials/footer') -%>