<%- include('partials/header') -%>
<div class="container mx-auto px-4 lg:px-20 py-5">
<!-- header -->
<div> <!-- whole property div-->
    <div>
        <h1 class="text-2xl font-bold"> <%= property.streetName%>, <%= property.postcode%></h1>
    </div>
<!-- images in grid-->
<div class="flex flex-col lg:flex-row justify-evenly py-6 gap-6 border-b-2 border-primary-focus">
  <% for(var i=0; i<review.length; i++) {%>
    <!-- image -->
    <% if(review[i].image) {%>
    <div class="sm:mx-4 md:mx-0 lg:w-1/2">
      <img src="<%= review[i].image%>" class="">
      <p>Image posted by <%= review[i].user.userName%></p>
  </div>
  <% } %>
  <% } %>
</div>
<!-- review -->
<% for(var i=0; i<review.length; i++) {%>
<div class="border-b-2 border-primary-focus px-8 py-6"> <!-- outer review div-->
  <div class="grid grid-cols-12">
    <div class="pb-2 col-span-5"> <!-- posted by and tenancy dates-->
      <p>Review posted by <%= review[i].user.userName%></p>
        <% if(review[i].tenancyFrom && review[i].tenancyTo != "") {%>
          <p>Tenancy from <%= review[i].tenancyFrom%> to <%= review[i].tenancyTo%></p>
        <% } %>
        </div>
        <div class="pb-2 col-start-12 justify-self-end"> 
        <%if(review[i].user._id == user.id){ %>
          <form
            action="/reviews/deleteReview/<%= review[i]._id %>?_method=DELETE"
            method="POST"
            class="col-3"
          ><button class="btn btn-primary fa fa-trash text-2xl" type="submit"></button>
        </form>
          <% } %>
    </div>
  </div>
    <!-- review title and body-->
    <div>
        <h1 class="text-2xl font-bold pb-2"><%= review[i].title%></h1>
        <p class="pt-2"><%= review[i].body%></p>
    </div>
</div>
<% } %>
<div class="pt-6 px-8">
<% if(user == undefined){ %>
<h3 class="text-xl font-bold pb-2">Want to leave a review for this property? <a href="/login" class="underline underline-offset-4 text-primary-focus">Log in</a> or <a href="/signup" class="underline underline-offset-4 text-primary-focus">create an account</a> today.</h3>
<% } else{ %> 
  <h3 class="text-xl font-bold pb-2">Want to leave a review for this property? <a href="/reviews" class="underline underline-offset-4 text-primary-focus">Create a review</a> today.</h3>
<% } %>
</div>
  
</div>


</div>
<%- include('partials/footer') -%>