<%- include('partials/header') -%>
<div class="container mx-auto px-4 lg:px-20 py-5">
<!-- header -->
<div> <!-- whole property div-->
    <div>
        <h1 class="text-2xl font-bold"> <%= property.streetName%>, <%= property.postcode.toUpperCase()%></h1>
    </div>
<!-- images in grid-->

<div class="flex flex-col lg:flex-row justify-evenly py-4 my-4 gap-6">
  <% for(var i=0; i<review.length; i++) {%>
    <!-- image -->
    <% if(review[i].image) {%>
    <div class="sm:mx-4 md:mx-0 lg:w-1/2">
      <img src="<%= review[i].image%>" class="">
  </div>
  <% } %>
  <% } %>
</div>
<!-- review -->
<% for(var i=0; i<review.length; i++) {%>
<div class="border-2 border-primary-focus px-8 py-4 my-4"> <!-- outer review div-->
    <div class="pb-2"> <!-- posted by and tenancy dates-->
        <% if(review[i].tenancyFrom && review[i].tenancyTo != "") {%>
          <p>Tenancy from <%= review[i].tenancyFrom%> to <%= review[i].tenancyTo%></p>
        <% } %>
        <!--<img src="<%= review[i].image%>">-->
    </div>
    <div> <!-- review title and body-->
        <h1 class="text-2xl font-bold pb-2"><%= review[i].title%></h1>
        <p class="pt-2"><%= review[i].body%></p>
    </div>
</div>
<% } %>
<h3 class="text-xl font-bold pb-2">Want to leave a review for this property? <a href="/login" class="underline underline-offset-4 text-primary-focus">Log in</a> or <a href="/signup" class="underline underline-offset-4 text-primary-focus">create an account</a> today.</h3>
</div>


</div>
<%- include('partials/footer') -%>