<%- include('partials/header') -%>
<div class="py-4 sm:p-5">
  <!-- alert div-->
<div class="mx-auto w-full md:w-2/5 px-5">
  <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span><%= el.msg %></span>
      </div>
    </div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
            <div class="alert alert-error shadow-lg">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span><%= el.msg %></span>
              </div>
            </div>
          <% }) %> <% } %>
</div>


  <div class="grid gap-4 lg:grid-cols-3 md:grid-cols-2 ">
      <% for(var i=0; i<property.length; i++) {%>
    <div class="card w-4/5 md:w-full bg-base-100 shadow-xl mx-auto">
      <figure><img src="<%= property[i].images[0].url%>" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title 2xl:text-xl"><%= property[i].streetName%>, <%= property[i].postcode.toUpperCase()%></h2>
        <!-- <p><%= property[i].title%></p> -->
        <div class="card-actions justify-end">
          <a href="/property/<%= property[i]._id%>"><button class="btn btn-primary 2xl:btn-lg">View Property</button></a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>


<%- include('partials/footer') -%>